
.nav {
	background-color: #595b6a;
	padding: 8px;
}

.nav-link {
	color: #fff;
	padding: 10px 10px;
}

.nav-link.active {
	background-color: #777988;
	padding: 10px 10px;
}

.container {
	margin: 10px 0;
	display: flex;
}

.blogs {
	width: 200px;
	height: 45px;
	margin: 0 20px 0 10px;
	padding: 10px;
	background-color: #595b6a;
	color: #fff;
	border-radius: 5px;
}

.inputs-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-left: 30px;
}

input,
textarea {
	width: 1000px;
	border-radius: 5px;
	border: 2px solid rgb(191, 189, 204);
	padding: 8px 10px;
}

input:focus,
textarea:focus {
	outline: 3px solid rgba(89, 172, 255, 0.3);
    border-color: rgba(89, 172, 255, 0.6);
}

.inputs-wrapper button {
	width: 60px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid #595b6a;
	background-color: #595b6a;
	color: #fff;
}

table {
	border-top: 1px solid #595b6a;
}
th {
	padding: 8px;
	font-weight: normal;
	border-top: 1px solid #b0b2c7;
}
